<h1>This plugin is a sample of events based execution</h1>

<h1>Events</h1>
<ul>
    {% for event in events %}
        <li>{{ event.action|e }} at: {{ event.createdAt|e }}</li>
    {% endfor %}
</ul>
